:root {
    --fontHeading: 'Playfair Display', serif;
    --principalFont: 'Raleway', sans-serif;
    --bs-green: #8CBC00;
    --bs-green2: #65A15A;
    --gris: #e1e1e1;
}

/*globales*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 2;
    font-family: var(--principalFont);
}

h1, 
h2, 
h3 {
    font-family: var(--fontHeading);
}

h2 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    h2 {
        font-size: 3.3rem;

    }
}

h3 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    h3 {
        font-size: 2.9rem;
    }
}

/*carrusel*/
.carousel img {
    height: 50rem;
}

@media (min-width: 768px) {
   .carousel img {
        height: 45rem;
    }
}


/*Colores*/
.text-primary {
    color: var(--bs-green2)!important;
}

.btn-primary {
    background-color: var(--bs-green2)!important;
    border:none!important;
}

.bg-primary {
    background-color: var(--bs-green2)!important;
}



/*Navegacion*/
.navegacion a:hover{
    color: var(--bs-green2)!important;
}


/*buscador*/
.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid var(--bs-green);
    border-radius: 50px;
    box-sizing: border-box;
    font-family: var(--principalFont);
    font-size: 26px;
    color: #000000;
    outline: none;
    transition: .6s;
}

.box {   
    transform: translate(0%,0%);
}


.box:hover input{
    width: 350px;
    background: #FFFFFF;
    border-radius: 10px;
}
i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #524E4E;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}

/*card*/
.bg-card {
    background-color: var(--gris);
}

/*productos*/
.producto {
    margin-bottom: 1rem;
}

/*categorias*/
.categoria img {
    transition-property: transform;
    transition-duration: .3s;
}

.categoria img:hover {
    transform: scale(1.2);
}

/** FOOTER **/

.footer {
    background-color: var(--gris);
    padding-bottom: 3rem;
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .barra-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 8rem;
        margin-left: 8rem;
    }
}

.nav-footer {
    font-size: 2.3rem;
}

@media (min-width: 768px) {
    .nav-footer {
        display: flex;
        gap: 2rem;
    }
}

.nav-footer__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    
}