{% extends 'tienda/base.html' %}
{% load static %}
{% block contenido %}

    <main class="container-lg py-5"> 
        <div class = "titulo text-center my-5">
            {% load humanize %}
            <h2 class = "position-relative d-inline-block">Tienda</h2>
        </div>
        <div class="mb-5 row justify-content-center">
            <div class="col-md-4">
                <label class="text-start" for="filtrarProducto">Buscar <i class="bi bi-search"></i></label>
            <input class="w-100"  type="text" placeholder="buscar producto" id="filtrarProducto" >
            </div>
        </div>
        <div class="productos-app row">
            <!--Productos aca-->
        </div>

        {% for p in productos %}

            <div class="producto-app col-md-4">
                <div class="card">
                    {% if p.prod_img %}
                        <img class="card-img-top" src="{{p.prod_img.url}}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                        <h3 class="card-title text-center">{{p.prod_nombre | title }}</h3>
                        <p class="card-text">${{p.prod_precio | intcomma }}</p>
                        <p class="card-text">{{p.prod_descripcion}}</p>
                        <p class="card-text">Stock: {{p.prod_stock}} Unidades</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </main>

    {% block javascripts %}
        <script src="{% static 'tienda/js/services/productos.provider.js' %}" type="text/javascript"></script>
    {% endblock %}

{% endblock %}
